/* 
=========
CSS RESET
=========
*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}

p {
    font-size: 2rem;
    text-align: justify;
}

html {
    scroll-behavior: smooth;
}

/* 
====================
END OF THE CSS RESET
====================
 */

 
 
 /* 
 ==========
 HEADER CSS
 ==========
 */
 .page-header {
     background-color: darkslategray;
     width: 100%;
     height: 10rem;
     display: flex;
     justify-content: center;
}

.header-container {
    height: 7rem;
    width: 900px;
    font-size: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}


.header-container ul li {
    display: inline-flex;
    color: #FFF;
    text-transform: uppercase;
    list-style: none;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-container ul a {
    text-decoration: none;
}

.header-container ul a:hover {
    text-decoration: underline #ccc;
}

.header-container ul {
    border: 1px solid #FFF;
}

nav {
    width: 90vw;
    display: inline-block;
    text-align: center;
}

nav a {
    margin-top: 2rem;
    padding-right: 6rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
/* 
==============
END HEADER CSS
==============
*/


/*
==========
BANNER CSS
==========
*/

.banner {
    background-color: #ccc;
    background-image: url(../images/laptop-with-code.jpg);
    background-size: cover;
    background-position: top;
    
    height: 35rem;
}

.rgba-banner {
    background-color: rgba(0, 0, 0, 0.6);
    height: 35rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rgba-banner img {
    width: 17rem;
    height: 17rem;
    border-radius: 90px;
    margin-top: 1rem;
}

.rgba-banner h1, h2 {
    color: #CCC;
    font-size: 2rem;
    text-align: center;
}

.rgba-banner h1 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

/* 
==============
END BANNER CSS
==============
*/

/* 
=============
PAGE BODY CSS 
=============
*/

#page-body {
    background-color: #eee;
    font-family: 'Quicksand', sans-serif;
}
/* 
============
END BODY CSS
============
*/


/* 
================
PAGE CONTENT CSS
================
*/

.subtitle {            /* h2 */
    color: #555;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.tech,
.projects,
.social-media h2 {
    margin-top: 4rem;
}

.page-container {
    width: 90rem;
    height: 100%;
    margin: auto;
}

.page-container a {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
}

.page-container a:hover {
    text-decoration: underline;
}

.page-container a:visited {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
}

.page-container ul {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.page-container ul li {
    list-style: none;
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
}

/* About me */
#about-me {
    margin-top: 5rem;
}
/* End About Me */

/* Projects */

.projects h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
/* End Projects */


/* Footer */

footer {
    clear: both;
    height: 5rem;
    width: 100%;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #ccc;
    margin-top: 3rem;
}
/* End Footer */

/* 
==============
RESPONSIVE CSS
==============
*/
@media (max-width: 885px) {
    .page-container {
        width: 90vw;
    }
    
    .page-footer {
        width: 90vw;
        text-align: center;
    }
}

@media (min-width: 572px) and (max-width: 885px) {
    .page-header {
        height: 13.5rem;
        justify-content: center;
        align-items: center;
    }

    .header-container ul {
        border: 0;
    }
}

@media (min-width: 572px) and (max-width: 885px){
    .header-container ul {
        text-align: center;
    }
}

@media (max-width: 582px) {
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-bottom: 2rem;
        margin-left: 25rem;
    }

    /* Fullscreen */

    .header-container.on {
        position: absolute;
        top: 0;
        left: 0;
        background-color: darkslategray;

        width: 100vw;
        height: 100vh;

        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-container.on .menu-toggle {
        top: 15px;
        right: 0;
        margin-right: 5rem;
        position: absolute;
    }

    .header-container.on .menu-toggle .one {
        transform: rotate(45deg) translate(8px, -9px);
    }

    .header-container.on .menu-toggle .two {
        opacity: 0;
    }

    .header-container.on .menu-toggle .three {
        transform: rotate(-45deg) translate(24.5px, -9.5px);
    }

    .header-container.on nav {
        display: block;
        text-align: center;
    }

    .header-container.on nav ul a {
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
    }

    .page-header {
        margin-bottom: -8rem;
    }

    .header-container {
        margin-bottom: -8rem;
    }
}

@media (min-width: 572px) and (max-width:582px) {
     .menu-toggle {
        margin-top: -16rem;
    } 
}

@media (min-width: 436px) and (max-width: 571px) {
    
    .header-container ul {
        border: 0;
        text-align: center;
        margin-top: 5rem;
    }
}

@media (min-width: 433px) and (max-width: 582px) {
    .page-header {
        height: 18rem;
    }

    .menu-toggle {
        margin-left: 30rem;
    }
}

@media (max-width: 435px) {
    /* .header-container {
        height: 25rem;
        background-color: darkslategray;
    }

    .page-header {
        height: 10rem;
    } */

    .rgba-banner {
        margin-top: 8rem;
    }
}

@media (min-width: 320px) {
    .rgba-banner {
        height: 40rem;
    }

    .banner {
        height: 40rem;
    }

    .rgba-banner img, h1{
        margin-top: 9rem;
    } 

    .container {
        width: 100vw;
        padding: 2rem;
    }

    .about-me h2 {
        font-weight: 600;
        text-transform: uppercase;
    }

    .about-me p {
        margin-bottom: 1rem;
    }

    #page-body {
        width: 100%;
    }

}
@media (min-width: 301px) and (max-width:438px ) {
    /* .page-header {
        height: 18rem;
    }

    .header-container ul {
        text-align: center;
        border: 0;
    }
} */

@media (min-width: 299px) and (max-width:331px) {
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-bottom: 2rem;
    }

    /* Fullscreen */

    .header-container.on {
        position: absolute;
        top: 0;
        left: 0;
        background-color: darkslategray;

        width: 100vw;
        height: 100vh;

        z-index: 10;

        
    }

    .header-container.on .menu-toggle {
        top: 15px;
        right: 0;
        margin-right: 5rem;
        position: absolute;
    }

    .header-container.on .menu-toggle .one {
        transform: rotate(45deg) translate(8px, -9px);
    }

    .header-container.on .menu-toggle .two {
        opacity: 0;
    }

    .header-container.on .menu-toggle .three {
        transform: rotate(-45deg) translate(24.5px, -9.5px);
    }

    .header-container.on nav {
        display: block;
        text-align: center;
    }

    .header-container.on nav ul a {
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media (min-width: 270px) and (max-width: 330px) {
    .page-header,
    .header-container,
    .banner,
    .rgba-banner {
        width: 34.5rem;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        margin-left: 15rem;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-bottom: 2rem;
        margin-right: 5rem;
    }
}

@media (min-width: 259px ) and (max-width: 300px) {
    /* .header-container ul {
        font-size: 4.3rem;
        text-align: center;
        border: 0;
    }
    
    .page-header {
        height: 16rem;
    }

    .header-container ul {
        border: 0;
    } */
}

@media (min-width: 149px) and (max-width: 257px) {
    /* .header-container ul {
        border: 0;
    }
} */

@media (min-width: 150px) and (max-width: 320px) {
    .rgba-banner {
        height: 40rem;
    }

    .banner {
        height: 40rem;
    }

    .rgba-banner img, h1 {
        margin-top: 9rem;
    }

    .container {
        margin-top: 1rem;
    }
}